section{
    position: relative;
}
.paging > ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
.paging > ul li{
	padding: 10px;
	font-size: 20px;
}
.page-active{
	color: orange;
	font-weight: bold;
	font-size: 22px;
}
.searchInfo{
	display: flex;
	margin-top: 10px;
}
.searchInfo div{
	padding: 0 5px;
}
#condition{
	height: 20px;
} 
#writeBoard{
	position: absolute;
	right: 20px;
}

section h1{
    color: orange;
    text-shadow: 1px 1px 2px black;
    padding-left: 80px;
    font-size: 2rem;
}
section .freeboardFrame{
    display: flex;
    flex-direction: column;
}
.freeboardFrame table{
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    margin: 0 auto;
}
.freeboardFrame table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}
.freeboardFrame tr{
    display: flex;
    height: 50px;
    line-height: 50px;
    
}
.freeboardFrame td{
    /* padding: 20px; */
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.freeboardFrame td:nth-child(1){
    width: 80px;
}
.freeboardFrame td:nth-child(2){
    flex: 1;
}
.freeboardFrame td:nth-child(3){
    width: 150px;
}
.freeboardFrame td:nth-child(4){
    width: 150px;
}
.freeboardFrame td:nth-child(5){
    width: 150px;
}
.freeboardFrame td{
    font-size: 1.5rem;
    font-weight: bold;
}
.freeboardFrame #innerTable{
    height: 50px;
}
.freeboardFrame #innerTable:hover{
    background-color: antiquewhite;
    transition: 0.2s;
}
.freeboardFrame #innerTable td{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
.freeboardFrame #innerTable td:nth-child(2){
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    padding-left: 20px;
}
.freeboardFrame .paging{
	text-align: center;
}
#writeBoard{
    width: 70px;
    padding: 4px 10px;
    font-weight: bold;
    margin: 5px 5px 0 0;
}