*{
    margin: 0;
    padding: 0; 
    text-decoration: none;
    color: black;
  }
  .container{
      display: flex;
      width: 1500px;
      margin: 0 auto;
  }
  nav{
      background-color: antiquewhite;
      height : 100vh;
      width: 230px;
      display: flex;
      flex-direction: column;
  }
  section{
      flex: 1;
      padding: 80px 0;
      /* background-image: url(../images/background.jpg); */
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  nav .info{
      height: 200px;
      text-align: center;
  }
  nav .info img{
      width: 230px;
      height: 130px;
  }
  nav ul{
      text-align: center;
      list-style-type: none;
  }
  nav ul li{
      font-size: 1.2rem;
      padding: 15px;
      border-top: 1px solid #000;
  }
  nav ul li:hover{
      background-color: aliceblue;
      transition: 0.4s;
  }
  nav ul li:last-child{
      border-bottom: 1px solid #000;
  }
  nav ul li a{
      text-decoration: none;
      color: black;
      font-weight: bold;
  }
  nav #nickNameSpace{
  	margin-bottom: 10px;
  }
  nav .info button{
  	padding : 3px 7px;
  	font-size : 14px;
  	border : none;
  	font-weight: bold;
  	background-color: #f2f2f2;
  }
  nav .info button:hover{
	background-color: gray;
	color : #f2f2f2;
	transition:0.2s;
  }
  section .today{
      display: flex;
      justify-content: space-evenly;
  }
  .today > div{
      padding: 20px;
      text-align: center;
  }
  .today p{
      font-size: 1.5rem;
      margin-bottom: 20px;
      font-weight: bold;
  }
  .today > div > div{
      width: 250px;
      height: 150px;
      background-color: whitesmoke;
      box-shadow: 0px 0px 5px black;
      border-radius: 10px;
  }
  #todayWord, #todayExp, #todayIdiom, #todayRecord{
  	font-size: 50px;
  	line-height: 140px;
  }
  /* 공지사항 */
  .middle{
      display: flex;
      justify-content: space-between;
  }
  .notice, .freeBoard{
      padding: 40px;
  }
  .notice #noticeBoard, .freeBoard #freeBoard{
      width: 550px;
      height: 400px;
      background-color: whitesmoke;
      box-shadow: 0px 0px 5px black;
      border-radius: 10px;
  }
  #noticeBoard table{
      padding: 10px;
      width: 100%;
  }
  #noticeBoard table tr:first-child{
      font-weight: bold;
      font-size: 1.1rem;
  }
  #noticeBoard table tr {
      display: flex;
      border-bottom: 1px solid black;
      text-align: center;
  }
  #noticeBoard table tr td:nth-child(1) {
      width: 50px;
      border-right: 1px solid black;
  }
  #noticeBoard table tr td:nth-child(2) {
      flex: 1;
      text-align: center;
      border-right: 1px solid black;
  }
  #noticeBoard table tr td:nth-child(3) {
      width: 100px;
      padding-left: 5px;
  }
  
  .notice p, .freeBoard p{
      font-size: 1.5rem;
      margin-bottom: 20px;
      font-weight: bold;
      padding-left: 20px;
  }
  #freeBoard table{
      padding: 10px;
      width: 100%;
  }
  #freeBoard table tr:first-child{
      font-weight: bold;
      font-size: 1.1rem;
  }
  #freeBoard table tr {
      display: flex;
      border-bottom: 1px solid black;
      text-align: center;
  }
  #freeBoard table tr td:nth-child(1) {
      width: 50px;
      border-right: 1px solid black;
  }
  #freeBoard table tr td:nth-child(2) {
      flex: 1;
      text-align: center;
      border-right: 1px solid black;
  }
  #freeBoard table tr td:nth-child(3) {
      width: 100px;
      text-align: center;
      border-right: 1px solid black;
  }
  #freeBoard table tr td:nth-child(4) {
      width: 100px;
      padding-left: 5px;
  }
  .middle table tr td{
      padding: 3px 0;
  }
  .noticeBoardHomeHover:hover,
  .freeBoardHomeHover:hover{
      background-color: antiquewhite;
      transition: 0.2s;
  }
  /* 포토존 */
  .photo{
      display: flex;
      flex-direction: column;
  }
  .photo p{
      padding: 20px 50px;
      font-weight: bold;
      font-size: 1.5em;
  }
  .photo .album{
      display: flex;
      justify-content: space-evenly;
  }
  .photo .album div{
      width: 200px;
      height: 150px;
      background-color: whitesmoke;
      border-radius: 10px;
      box-shadow: 0px 0px 5px black;
  }
